body{
margin:0;
font-family:sans-serif;
background:#eef3f8;
text-align:center;
}

.container{
padding:20px;
}

video,
canvas{
width:100%;
max-width:600px;
border-radius:20px;
margin-top:20px;
}

button{
padding:15px 30px;
border:none;
border-radius:15px;
background:#1565c0;
color:white;
font-size:18px;
margin-top:20px;
}

#result{
margin-top:20px;
font-size:22px;
font-weight:bold;
}
input,
select{

display:block;
margin:10px auto;
padding:12px;
width:250px;
border-radius:10px;
border:1px solid #ccc;

}